Repository portefaix/portefaix-hub, pull requests merged in 2023-09, with the labels that each got.

#498 Adds addtional info to loki and tempo-mixin configmaps
  charts/loki-mixin/Chart.yaml
  charts/loki-mixin/templates/_helpers.tpl
  charts/tempo-mixin/Chart.yaml
  charts/tempo-mixin/templates/_helpers.tpl
Labels: priority/medium, status/in_progress, kind/feature, lifecycle/active, area/helm

#517 [pyroscope-mixin] Fix: chart number
  charts/pyroscope-mixin/Chart.yaml
Labels: status/review_needed, priority/medium, kind/feature, lifecycle/active, kind/cleanup

#520 [tempo-mixin] Fix: YAML indentation
  charts/tempo-mixin/Chart.yaml
  charts/tempo-mixin/templates/alerts.yaml
  charts/tempo-mixin/templates/rules.yaml
Labels: status/review_needed, priority/high, kind/bug, lifecycle/active

#524 [portefaix-kyverno] Fix: chart version
  charts/portefaix-kyverno/Chart.yaml
Labels: status/review_needed, kind/bug, priority/low, lifecycle/active, area/helm

#536 [grafana-agent-flow-mixin] New chart
  charts/grafana-agent-flow-mixin/.helmignore
  charts/grafana-agent-flow-mixin/Chart.yaml
  charts/grafana-agent-flow-mixin/LICENSE
  charts/grafana-agent-flow-mixin/README.md
  charts/grafana-agent-flow-mixin/dashboards/agent-cluster-node.json
  charts/grafana-agent-flow-mixin/dashboards/agent-cluster-overview.json
  charts/grafana-agent-flow-mixin/dashboards/agent-flow-controller.json
  charts/grafana-agent-flow-mixin/dashboards/agent-flow-prometheus-remote-write.json
  charts/grafana-agent-flow-mixin/dashboards/agent-flow-resources.json
  charts/grafana-agent-flow-mixin/templates/NOTES.txt
  charts/grafana-agent-flow-mixin/templates/_helpers.tpl
  charts/grafana-agent-flow-mixin/templates/alerts.yaml
  charts/grafana-agent-flow-mixin/templates/configmap-dashboards.yaml
  charts/grafana-agent-flow-mixin/values.schema.json
  charts/grafana-agent-flow-mixin/values.yaml
Labels: status/review_needed, priority/high, kind/feature, lifecycle/active, area/helm, size/XXL

#541 [tempo-mixin] Additional labels YAML indentation
  charts/tempo-mixin/Chart.yaml
  charts/tempo-mixin/templates/_helpers.tpl
Labels: status/review_needed, kind/bug, priority/low, lifecycle/active, size/xs, area/helm

#542 Fix: Grafana Agent Flow and Tempo sources
  charts/grafana-agent-flow-mixin/Chart.yaml
  charts/tempo-mixin/Chart.yaml
Labels: size/xs

#545 [cloudflare-tunnel] New chart
  charts/cloudflare-tunnel/.helmignore
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
  charts/cloudflare-tunnel/templates/_helpers.tpl
  charts/cloudflare-tunnel/templates/configmap.yaml
  charts/cloudflare-tunnel/templates/deployment.yaml
  charts/cloudflare-tunnel/templates/secret.yaml
  charts/cloudflare-tunnel/templates/service.yaml
  charts/cloudflare-tunnel/templates/serviceaccount.yaml
  charts/cloudflare-tunnel/templates/servicemonitor.yaml
  charts/cloudflare-tunnel/values.yaml
Labels: status/review_needed, priority/high, kind/feature, size/l, lifecycle/active, area/helm

#547 [cloudflare-tunnel] Metrics port and ServiceMonitor resource #546
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
  charts/cloudflare-tunnel/templates/configmap.yaml
  charts/cloudflare-tunnel/templates/deployment.yaml
  charts/cloudflare-tunnel/templates/service.yaml
  charts/cloudflare-tunnel/values.yaml
Labels: status/review_needed, priority/medium, kind/feature, lifecycle/active, area/helm
